@{
    ViewBag.Title = "EasyGame";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>EasyGame</title>
</head>
<body>
    <div class="new-background">
        <p>We all have to start somewhere</p>
        <section>
            <article>
                <div class="ui-widget-content">
                    <input Drag me around />
                </div>
            </article>
        </section>
    </div>
</body>
</html>

<script>
    $('new-background').addClass()
</script>


