@{
    ViewBag.Title = "EasyGAme";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EasyGame</title>
</head>
<body>
    <div>
        <p>We all have to start somewhere</p>
    </div>
</body>
</html>
