@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <ul>
            <li><input type="button">Easy</li>
            <li><input type="button">Medium</li>
            <li><input type="button">Hard</li>
        </ul>
    </div>
    <div>

    </div>
</body>
</html>
